@import "../../../../styles/Ñolors";
@import "../../../../styles/fontWeights";

.form {
    .inputsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        margin-bottom: 32px;
    }
    .input {
        width: 100%;
        cursor: default;
        & > h3 {
            font-size: 14px;
            color: $text_black_400;
            margin-bottom: 6px;
            &.required::after {
                content: "*";
                color: $brand_red_500;
            }
        }
        .inputContainer {
            position: relative;
            & > input {
                width: 100%;
                height: 60px;
                font-size: 16px;
                color: $text_black_500;
                border: 1px solid #949494;
                border-radius: 3px;
                padding: 20px 12px;
                &:hover {
                    border: 2px solid $text_black_400;
                    padding-left: 11px;
                }
                &:focus {
                    border: 2px solid $brand_blue_500;
                    padding-left: 11px;
                }
                &.passwordInput {
                    padding-right: 45px;
                    & + .passwordEye {
                        position: absolute;
                        top: 50%;
                        right: 15px;
                        transform: translateY(-50%);
                        font-size: 16px;
                        cursor: pointer;
                    }
                }
            }
        }
        &.incorrect {
            & > h3 {
                color: $brand_red_500;
            }
            .inputContainer {
                &::after {
                    content: "!";
                    font-weight: $semiBold;
                    color: $text_white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 10px;
                    position: absolute;
                    transform: translateY(-50%);
                    $size: 16px;
                    top: 50%;
                    right: calc(-8px - $size);
                    width: $size;
                    height: $size;
                    border-radius: $size;
                    background-color: $brand_red_500;
                }
                & > input {
                    border-color: $brand_red_500;
                    background-color: rgba($brand_red_500, 0.1);
                }
            }
            & > span {
                display: block;
                font-size: 11px;
                line-height: 13px;
                margin-top: 6px;
                color: $brand_red_500;
            }
        }
    }
    .afterInput {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 32px;
        .link,
        .link:visited {
            color: #0097ec;
            &:hover {
                color: #0683cb;
            }
        }
        .checkbox {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            &.incorrect + span {
                display: block;
                font-size: 11px;
                line-height: 13px;
                margin-top: 6px;
                color: $brand_red_500;
            }
            input {
                max-width: 20px;
                max-height: 20px;
                min-width: 20px;
                min-height: 20px;
                margin-right: 8px;
                cursor: pointer;
            }
            h3 {
                color: $text_black_400;
            }
            & > div {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
    }
    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 22px;
    }
}
