@import "../../../../../styles/Ñolors";
@import "../../../../../styles/fontWeights";

.body {
    width: 908px;
    padding: 60px 32px;
    .mainTitle {
        display: block;
        width: max-content;
        font-size: 24px;
        font-weight: $semiBold;
        margin-bottom: 24px;
        &:hover {
            text-decoration: underline;
        }
    }
    .bookInfos {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 14px;
        margin-bottom: 48px;
        h3 {
            font-size: 18px;
            span {
                font-weight: $medium;
            }
        }
    }
    .totalPrice {
        width: 100%;
        text-align: right;
        font-size: 24px;
        font-weight: $semiBold;
        margin-bottom: 60px;
    }
    .creditCardSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 32px;
        & > h2 {
            width: 100%;
            font-size: 20px;
            font-weight: $semiBold;
            text-align: left;
            margin-bottom: 24px;
        }
    }
    .resultSection {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        margin-bottom: 60px;

        & > div {
            & > h1 {
                font-size: 24px;
                font-weight: $semiBold;
                margin-bottom: 5px;
            }
            & > h2 {
                font-size: 14px;
                color: $text_black_400;
                line-height: 18px;
            }
        }
    }
    .buttons {
        width: 442px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 210px 210px;
        gap: 22px;
    }
}
