@import "../../styles/Ñolors";
@import "../../styles/fontWeights";

.container {
    width: 329px;
    aspect-ratio: 329/193;
    padding: 24px 25px;
    border-radius: 18px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    color: $text_white;

    filter: drop-shadow(0px 17.1354px 13.7083px rgba(0, 0, 0, 0.07)) drop-shadow(0px 7.15877px 5.72701px rgba(0, 0, 0, 0.0503198))
        drop-shadow(0px 3.82742px 3.06194px rgba(0, 0, 0, 0.0417275)) drop-shadow(0px 2.14562px 1.7165px rgba(0, 0, 0, 0.035))
        drop-shadow(0px 1.13952px 0.911618px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 0.474181px 0.379345px rgba(0, 0, 0, 0.0196802));

    .logo {
        position: relative;
        width: 45px;
        height: 30px;
    }
    .mainInfo {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 14px;
        gap: 3px;
        font-family: "Roboto";
        z-index: 10;

        .name {
            font-weight: $bold;
            font-size: 17px;
            line-height: 20px;
            justify-self: start;
            align-self: end;
        }
        & > span {
            font-weight: $light;
            font-size: 10px;
            line-height: 12px;
            justify-self: end;
            align-self: end;
            margin-bottom: 4px;
            font-weight: $light;
            user-select: none;
        }
        .number {
            justify-self: start;
            align-self: start;
            font-size: 13px;
            font-weight: $light;

            font-family: "IBM Plex Mono", monospace;
        }
        .expireDate {
            justify-self: end;
            align-self: start;
            font-size: 13px;
            font-weight: $medium;

            font-family: "IBM Plex Mono", monospace;
        }
    }
    .deleteButton {
        position: absolute;
        top: 12px;
        right: 12px;
        font-size: 16px;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        z-index: 10;
        transition: opacity 0.2s;
    }
    .background {
        z-index: -2;
    }
    .shadow {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: opacity 0.2s;
    }
    &:hover {
        .deleteButton {
            visibility: visible;
            opacity: 1;
        }
        .shadow {
            opacity: 1;
        }
    }
}
