@import "../../styles/Ñolors.scss";
@import "../../styles/_fontWeights.scss";

.wrapper {
    min-height: inherit;
    .container {
        min-height: inherit;
        padding: 32px 0 64px;
        .window {
            margin: 48px auto 0;
            width: 540px;
            height: max-content;
            padding: 48px 48px 32px;
            background-color: #fff;
            border-radius: 30px;
            box-shadow: 0 1px 16px rgba(0, 0, 0, 0.1);
            & > h1 {
                text-align: center;
                font-size: 32px;
                font-weight: $semiBold;
                margin-bottom: 32px;
            }
            .form {
                .inputsContainer {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 24px;
                    margin-bottom: 32px;
                }
                .input {
                    width: 100%;
                    cursor: default;
                    &.required > h3::after {
                        content: "*";
                        color: $brand_red_500;
                    }
                    & > h3 {
                        font-size: 14px;
                        color: $text_black_400;
                        margin-bottom: 6px;
                    }
                    .inputContainer {
                        position: relative;
                        & > input {
                            width: 100%;
                            height: 60px;
                            font-size: 16px;
                            color: $text_black_500;
                            border: 1px solid #949494;
                            border-radius: 3px;
                            padding: 20px 12px;
                            &:hover {
                                border: 2px solid $text_black_400;
                                padding-left: 11px;
                            }
                            &:focus {
                                border: 2px solid $brand_blue_500;
                                padding-left: 11px;
                            }
                            &.passwordInput {
                                padding-right: 45px;
                                & + .passwordEye {
                                    position: absolute;
                                    top: 50%;
                                    right: 15px;
                                    transform: translateY(-50%);
                                    font-size: 16px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    &.incorrect {
                        & > h3 {
                            color: $brand_red_500;
                        }
                        .inputContainer {
                            &::after {
                                content: "!";
                                font-weight: $semiBold;
                                color: $text_white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 10px;
                                position: absolute;
                                transform: translateY(-50%);
                                $size: 16px;
                                top: 50%;
                                right: calc(-8px - $size);
                                width: $size;
                                height: $size;
                                border-radius: $size;
                                background-color: $brand_red_500;
                            }
                            & > input {
                                border-color: $brand_red_500;
                                background-color: rgba($brand_red_500, 0.1);
                            }
                        }
                        & > span {
                            display: block;
                            font-size: 11px;
                            line-height: 13px;
                            margin-top: 6px;
                            color: $brand_red_500;
                        }
                    }
                }
                .afterInput {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 32px;
                    .link,
                    .link:visited {
                        color: #0097ec;
                        &:hover {
                            color: #0683cb;
                        }
                    }
                    .checkbox {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        &.incorrect + span {
                            display: block;
                            font-size: 11px;
                            line-height: 13px;
                            margin-top: 6px;
                            color: $brand_red_500;
                        }
                        input {
                            max-width: 20px;
                            max-height: 20px;
                            min-width: 20px;
                            min-height: 20px;
                            margin-right: 8px;
                            cursor: pointer;
                        }
                        h3 {
                            font-size: 16px;
                            color: $text_black_400;
                            line-height: 22px;
                        }
                        & > div {
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                        }
                    }
                }
                .errorMessage {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 24px;
                    color: $brand_red_500;
                    font-weight: $semiBold;
                    font-size: 16px;
                    text-shadow: 0 1px 10px rgba($brand_red_500, 0.1);
                }
            }
            .separator {
                margin-top: 48px;
                margin-bottom: 32px;
                width: 100%;
                display: grid;
                grid-template-columns: 1fr auto 1fr;
                align-items: center;
                span {
                    font-size: 16px;
                    margin: 0 3px;
                }
                hr {
                    border-top: 0.5px solid $text_black_400;
                }
            }
            .socials {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 16px;
                margin: 0 auto;
                .icon {
                    $size: 30px;
                    width: $size;
                    height: $size;
                    border-radius: $size / 2;
                    position: relative;
                    cursor: pointer;
                    img {
                        -webkit-user-drag: none;
                    }
                }
            }
            .switch {
                margin-top: 64px;
                text-align: center;
                font-size: 16px;
                .link,
                .link:visited {
                    font-weight: $medium;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapper .container {
        padding: 16px 0 24px;
        .window {
            width: 400px;
            margin: 24px auto 0;
            padding: 0;
            border-radius: unset;
            box-shadow: unset;
            & > h1 {
                font-size: 20px;
                margin-bottom: 24px;
            }
            .form {
                .inputsContainer {
                    gap: 16px;
                    margin-bottom: 16px;
                    .input {
                        & > h3 {
                            font-size: 12px;
                        }
                        .inputContainer {
                            & > input {
                                font-size: 14px;
                                border-radius: 4px;
                                padding: 16px 8px;
                                &.passwordInput {
                                    padding-right: 40px;
                                    & + .passwordEye {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                        &.incorrect {
                            & > span {
                                font-size: 9px;
                                line-height: 12px;
                            }
                        }
                    }
                }
            }
            .afterInput {
                font-size: 14px;
                margin-bottom: 24px;
                .checkbox {
                    &.incorrect + span {
                        font-size: 9px;
                        line-height: 12px;
                    }
                    input {
                        max-width: 16px;
                        max-height: 16px;
                        min-width: 16px;
                        min-height: 16px;
                        margin-right: 5px;
                    }
                }
            }
            .separator {
                margin-top: 32px;
                margin-bottom: 24px;
                span {
                    font-size: 14px;
                    margin: 0 2px;
                }
            }
            .socials {
                gap: 12px;
            }
            .switch {
                margin-top: 80px;
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .wrapper .container {
        .window {
            width: 100%;
            .form .inputsContainer {
                .input {
                    &.incorrect .inputContainer {
                        & > input {
                            padding-right: 40px;
                            &.passwordInput {
                                padding-right: 70px;
                                & + .passwordEye {
                                    right: 42px;
                                }
                            }
                        }
                        &::after {
                            right: 13px;
                        }
                    }
                }
            }
        }
    }
}
