@import "../../../styles/Ñolors";
@import "../../../styles/fontWeights";

.form {
    &_stretch {
        width: 100%;
        &.error {
            input {
                border-color: $brand_red_500;
                background-color: rgba($brand_red_500, 0.1);
            }
        }
    }
    &_fit {
        width: max-content;
        input.error {
            border-color: $brand_red_500;
            background-color: rgba($brand_red_500, 0.1);
        }
    }
    &.error {
        .formTitle {
            color: $brand_red_500;
        }
    }
    .formTitle {
        font-size: 14px;
        color: $text_black_400;
        margin-bottom: 6px;
    }
    input {
        width: 100%;
        height: 57px;
        min-width: unset;
        border: 1px solid #949494;
        font-size: 16px;
        padding: 18px 16px;
        border-radius: 4px;
        &:hover {
            border: 2px solid $text_black_400;
            padding-left: 15px;
        }
        &:focus {
            border: 2px solid $brand_blue_500;
            padding-left: 15px;
        }
    }
    & > span {
        display: block;
        font-size: 11px;
        line-height: 13px;
        margin-top: 6px;
        color: $brand_red_500;
    }
    .inputContainer {
        position: relative;
        input.passwordInput {
            padding-right: 45px;
            & + .passwordEye {
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
                font-size: 16px;
                cursor: pointer;
            }
        }
    }
}
