.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;
}
.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
}
