@import "../../../../../styles/Ñolors";
@import "../../../../../styles/fontWeights";

.mainContainer {
    padding: 0 70px;
    margin-top: 24px;
    .content {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: $text_black_400;
        margin-bottom: 32px;
        & > span {
            color: $text_black_500;
            font-weight: $medium;
        }
    }
    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
