@import "../../styles/Ñolors";
@import "../../styles/fontWeights";

.authorCard {
    border-radius: 12px;
    min-height: 200px;
    overflow: hidden;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: minmax(150px, 212px) minmax(300px, 1fr);
    &.modile {
        display: none;
    }
    .imageContainer {
        position: relative;
    }
    .content {
        padding: 24px;
        & > h3 {
            font-size: 16px;
            color: $text_black_300;
            margin-bottom: 8px;
        }
        & > h2 {
            font-size: 20px;
            margin-bottom: 16px;
        }
        .contacts {
            color: $text_black_300;
            font-size: 18px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            & > div {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 3px;
                .icon {
                    $size: 20px;
                    width: $size;
                    height: $size;
                    position: relative;
                    overflow: hidden;
                    img {
                        -webkit-user-drag: none;
                        transform: scale(1.3);
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .authorCard {
        height: max-content;
        min-height: 150px;
        grid-template-columns: minmax(150px, 180px) minmax(200px, 1fr);
        .content {
            padding: 16px 12px;
            & > h3 {
                font-size: 12px;
                margin-bottom: 2px;
            }
            & > h2 {
                font-size: 14px;
                margin-bottom: 18px;
            }
            .contacts {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .authorCard {
        display: none;
        max-width: 450px;
        min-height: 130px;
        grid-template-columns: minmax(60px, 142px) minmax(200px, 1fr);
        &.modile {
            display: grid;
            margin-bottom: 24px;
        }
    }
}
