@import "../../styles/mixins";
@import "../../styles/_Ñolors.scss";
@import "../../styles/_fontWeights.scss";

.filter {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;

    .header {
        width: 100%;
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        input[type="checkbox"] {
            width: 18px;
            height: 18px;
            margin: 3px;
            cursor: pointer;
            accent-color: $brand_red_500;
        }
        .title {
            width: max-content;
            height: max-content;
        }
    }

    .midLevel {
        width: max-content;
        &.canOpen > .header > .title {
            width: 388px;
        }
        margin: 5px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
        &.open {
            .icon {
                transform: rotate(180deg);
            }
            .lowLevel {
                display: flex;
            }
        }
        .lowLevel {
            margin-left: 28px;
            display: none;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 5px;
        }
    }
}
